body {
  margin: 0;
}
.flex {
  display: flex;
}
@mixin flex-content($content) {
  display: flex;
  align-items: center;
  justify-content: $content;
}
.flex-between {
  @include flex-content(space-between);
}
.flex-around {
  @include flex-content(space-around);
}
.flex-center {
  @include flex-content(center);
}
.flex-colum {
  @include flex-content(center);
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}

.mr-5 {
  margin-right: 5px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-50 {
  margin-right: 50px;
}
.pr-100 {
  padding-right: 100px;
}
.ml-10 {
  margin-right: 10px;
}
.mb-60 {
  margin-bottom: 60px;
}

.pr-20 {
  padding-right: 20px;
}
.pr-5 {
  padding-right: 5px;
}
.plr-15 {
  padding: 0 15px;
}
.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}
.pl-30 {
  padding-left: 30px;
}
.pd-20 {
  padding: 0 20px;
}
.pt-10 {
  padding-top: 5px;
}
.pb-10 {
  padding-bottom: 5px;
}
.plr-10 {
  padding: 0 10px;
}
.pd-10 {
  padding: 10px;
}
.pd-5 {
  padding: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.pr-4 {
  padding-right: 4px;
}

.font-size_12 {
  font-size: 12px;
}
.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.icon {
  width: 24px;
  height: 24px;
}
